.maindiv{
    display: flex;
    width: 70%;
    min-height: 100vh;
    padding: 30px;
}
.searchbox{
    display: flex;
    width: 70%;
    border: 1px solid #D9D9D9 !important;

}
.sidediv{
    display: flex;
    flex-direction: column;
    width: 70%;
    min-height: 100vh;
    padding: 30px;
}