.searchitemsContainer{
    background-color: #fff;
    position: absolute;
    width: 390px;
    top: 10%;
    border-radius: 10px;
    z-index: 1000;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3); 
    border: 0.5px solid gray;
}

.profileContainer{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    cursor: pointer;
}

.profileContainer:hover{
    background: #f6f6f6;
    border-radius: 10px;
}

.profilePic{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}