.ChatPersonDiv {
  width: 100%;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #bebebe;
  padding: 5px 0px !important;
  cursor: pointer;
}

.imgdiv {
  display: flex;
  align-items: center;
  gap: 5px !important;
}

.ChatPersonName {
  font: bold;
  font-size: medium;
}
.svgimg path {
  fill: #bebebe;
}

.msgCount {
  width: 20px;
  height: 20px;
  background-color: green;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
