.ChatPersonDiv {
  width: 100%;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  padding: 5px 0px !important;
  cursor: pointer;
}

.imgdiv {
  display: flex;
  align-items: center;
  gap: 5px !important;
}

.ChatPersonName {
  font: bold;
  font-size: medium;
}
.svgimg path {
  fill: #bebebe;
}

.msgCount {
  width: 20px;
  height: 20px;
  background-color: #f3cf00;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgdiv > img {
  border-radius: 50%;
}
