.avatardiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.avatarname {
  font-size: 20px !important;
  margin: 0;
  padding-top: 10px;
  font-weight: 500 !important;
  text-transform: capitalize;
}

.nameandeditdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.editbtn {
  text-transform: capitalize !important;
  color: #fff !important;
  background-color: #2F65B9 !important;
}
.closediv {
  display: flex;
  justify-content: end;
}
.closebtn {
  padding: 0 !important;
  min-width: 0 !important;
  color: #adadad !important;
}
.createbtn {
  background-color: transparent;
  color: #2F65B9;
  border: 1px solid #2F65B9 !important;
  display: flex;
  gap: 5px;
  align-items: center;
}
.createbtn svg path {
  fill: #2F65B9 !important;
}

.pendingdiv {
  color: #2F65B9 !important;
  margin: 0;
}
.rejecteddiv {
  color: red !important;
  margin: 0;
}
.btnsdiv{
  display: flex;
  gap: 10px;
  align-items: center;
}
.pendingdivs{
  border: 1.5px solid #2F65B9 !important;
  padding: 5px 10px;
  border-radius: 5px;
}
.rejecteddivs{
  border: 1.5px solid red !important;
  padding: 5px 10px;
  border-radius: 5px;
}
.btndiv{
  display: flex;
  gap: 10px;
  align-items: center;
}
.abouttxt{
  text-transform: capitalize;
}
.profiletitle{
  font-weight: 500 !important;
  font-size: 20px !important;
  color: #4f4f4f !important;
  background-color: #fff;
  padding: 8px 0px 8px 25px !important;
  border-top: 1px solid rgb(223, 223, 223);
}
.profilecontant{
  background-color: #f7f7f7;
}
.maindiv{
  background-color: #fff;
}
.profiledetailsdiv{
  padding: 20px 30px;
}
.checkmark {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #4bb71b;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4bb71b;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    position:relative;
   margin: 0 auto;
}
.checkmarkCircle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #4bb71b;
    fill: #fff;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
 
}

.checkmarkCheck {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

.closeIcons{
  display: flex;
  justify-content: end;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}