.avatardiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.avatarname {
  font-size: 20px !important;
  margin: 0;
  padding-top: 10px;
  font-weight: 500 !important;
}
.profilemain {
  padding: 0px 40px;
}
.postdiv {
  height: 240px;
  overflow-y: scroll;
}
.nameandeditdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.editbtn {
  text-transform: capitalize !important;
  color: #fff !important;
  background-color: #0EBD60 !important;
}
.closediv {
  display: flex;
  justify-content: end;
}
.closebtn {
  padding: 0 !important;
  min-width: 0 !important;
  color: #adadad !important;
}
.createbtn {
  background-color: transparent;
  color: #0EBD60;
  border: 1px solid #0EBD60 !important;
  display: flex;
  gap: 5px;
  align-items: center;
}
.createbtn svg path {
  fill: #0EBD60 !important;
}

.pendingdiv {
  color: #ea8400 !important;
  margin: 0;
}
