.avatardiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.avatarname {
  margin: 0;
  padding-top: 10px;
  font-weight: 500 !important;
  white-space: nowrap;
  overflow: hidden;
  font-size: 15px !important;
  text-overflow: ellipsis;
  max-width: 160px;
}

.nameandeditdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.editbtn {
  text-transform: capitalize !important;
  color: #fff !important;
  background-color: #2F65B9 !important;
}
.closediv {
  display: flex;
  justify-content: end;
}
.closebtn {
  padding: 0 !important;
  min-width: 0 !important;
  color: #adadad !important;
}
.createbtn {
  background-color: transparent;
  color: #2F65B9;
  border: 1px solid #2F65B9 !important;
  display: flex;
  gap: 5px;
  align-items: center;
}
.createbtn svg path {
  fill: #2F65B9 !important;
}

.pendingdiv {
  color: #ea8400 !important;
  margin: 0;
}

.btnsdiv{
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 10px;
}
.profiledetailsdiv{
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid rgb(205, 205, 205);
}
.profiletitle{
  font-weight: 500 !important;
  font-size: 20px !important;
  color: #4f4f4f !important;
  background-color: #fff;
  padding: 8px 0px 8px 25px !important;
  border-top: 1px solid rgb(223, 223, 223);
  margin-bottom: 10px !important;
}