.tagsInputContainer {
  border-bottom: 1px solid #a3a3a3;
  padding: 0.5em;
  border-radius: 3px;
  margin-top: 1px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

.tagItem {
  display: inline-block;
  padding: 0.3em 0.4em;
  border-radius: 10px;
  border: 1px solid #a3a3a3;
}
.tagItem .close {
  height: 20px;
  width: 20px;
  background-color: #a3a3a3;
  color: #fff;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5em;
  font-size: 18px;
  cursor: pointer;
}

.tagsInput {
  flex-grow: 1;
  padding: 0.5em 5px;
  border: none;
  outline: none;
}
.tagsInput::placeholder {
  color: #a3a3a3; /* Change to your desired color */
}

.AddScheduleDiv {
  display: flex !important;
  width: 100% !important;
  margin-bottom: 2% !important;
  justify-content: space-between !important;
  gap: 2% !important;
}

.scheduleListDiv {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.scheduleListSubDiv {
  display: flex;
  gap: 2% !important;
  width: 150px !important;
  margin-bottom: 0.5rem;
}
.error fieldset {
  border: 1px solid red !important;
}
.replyCommentDiv {
  margin-left: 5% !important;
}
.AddScheduleDiv input {
  padding: 10px !important;
  outline: none;
}
.inputdiv div div {
  padding: 10px !important;
  outline: none;
}
.dateinput div div input {
  padding: 10px !important;
  outline: none;
}
.scheduleListSubDiv {
  color: rgb(125, 125, 125) !important;
}
.scheduleListSubDiv p {
  font-weight: 500 !important;
  text-transform: capitalize !important;
}
.likediv {
  display: flex;
  gap: 5px;
  align-items: center;
}
.likeandcommentdiv {
  display: flex;
  gap: 10px;
  align-items: center;
}
.descriptiondiv p {
  text-transform: capitalize !important;
  font-weight: 500;
  font-size: 14px;
}

button:hover {
  color: green;
}
