.titletext {
	word-wrap: break-word !important;
	font-size: 18px !important;
	color: #f3cf00 !important;
	display: flex !important;
	justify-content: space-between !important;
	align-items: center;
}
.contenttxt {
	word-wrap: break-word;
}
.yesbtn,
.yesbtn:hover {
	background: #f3cf00 !important;
	color: #272727 !important;
	padding: 3px 20px !important;
	font-family: "Rubik" !important;
	font-size: 15px !important;
	border: 1.5px solid #f3cf00 !important;
}
.nobtn,
.nobtn:hover {
	background: #fff !important;
	color: #f3cf00 !important;
	padding: 3px 20px !important;
	font-family: "Rubik" !important;
	font-size: 15px !important;
	border: 1.5px solid #f3cf00 !important;
}
.closebtns {
	padding: 0 !important;
	color: #919191 !important;
	font-size: 24px !important;
	display: contents !important;
}
.terms {
	color: #f3cf00 !important;
}
@media (max-width: 480px) {
	.contenttxt > ol {
		padding-left: 1rem;
	}
	.contenttxt > ol li {
		font-size: 14px !important;
	}
}
.titletext >p{
	margin: 0 !important;
}