.avatardiv {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.avatarname {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.profilemain {
  padding: 0px 70px;
}
.postdiv {
  height: 230px;
  overflow-y: scroll;
}
.followersdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.editdiv {
  min-height: 81vh;
  padding: 10px 20px !important;
}
.unfollowbtn {
  text-transform: capitalize !important;
}
.editform label {
  font-weight: bold;
  width: 100% !important;
  color: #5b5b5be0 !important;
}
.editform input {
  margin-bottom: 10px;
  margin-top: 5px;
  width: 100%;
  padding: 5px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  color: #868484 !important;
}
.editform textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  color: #868484 !important;
}
.changeimgbtn {
  margin-top: 10px !important;
  color: #fff !important;
}
.submitbtn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #0EBD60;
  color: #fff;
  font-weight: bold;
}
.file {
  display: none !important;
}
.avatardiv {
  position: relative !important;
}
.filelabel {
  position: absolute;
  top: 27px;
  right: 72px;
  background: rgb(234 234 234) !important;
  border-radius: 50%;
  padding: 4px 5px 0px 5px;
}
.filelabel svg path {
  fill: #0EBD60 !important;
}
.error {
  border-color: red !important;
}
