.tagsInputContainer{
    border-bottom: 1px solid #A3A3A3;
    padding: .5em;
    border-radius: 3px;
    margin-top: 1px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5em;
}

.tagItem{
    /* background-color: rgb(218, 216, 216); */
    display: inline-block;
    padding: .3em .4em;
    border-radius: 10px ;
    border: 1px solid #A3A3A3
}
.tagItem .close{
    height: 20px;
    width: 20px;
    background-color: #A3A3A3;
    color: #fff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: .5em;
    font-size: 18px;
    cursor: pointer;
}

.tagsInput{
    flex-grow: 1;
    padding: .5em 5px;
    border: none;
    outline: none;
}
.tagsInput::placeholder {
    color: #A3A3A3; /* Change to your desired color */
  }
  .btns{
    background-color: #0EBD60 !important;
    color: #fff !important;
  }