.repliesdiv > div {
  background-color: rgb(243 243 243) !important;
  border-radius: 10px !important;
}
.textdiv {
  display: flex;
  align-items: center;
  gap: 2px;
}
.commentdiv {
  width: 100%;
  border: 1px solid #d8d8d8;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.commentinput {
  width: 100%;
  border: none !important;
  outline: none;
  font-size: 18px;
  color: #6c6c6c;
}
.commentbtn{
  background-color: #eeeeee !important;
  width: 40px;
  height: 40px;
  border-radius: 5px !important;
}
.avatarnamediv{
  background-color: rgb(198, 198, 198);
  height: 30px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.commentbox{
  background-color: #f7f7f7;
  margin: 10px 0px;
  border-radius: 5px;
  padding: 10px;
}