.postSection {
  padding: 30px 50px;
}

.searchContainer {
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
  border: 1px solid rgb(211, 211, 211);
  background-color: #ffffff;
  margin-top: 10px;
}

.searchInput {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background: transparent;
}
