.container {
  width: 100%;
}
.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.topProfile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-top: 20px;
  width:"90%";
  margin: auto;
}
.myPost {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}
