/* fullname
email
designation
password
conf
location
dob */

/* Animation for sliding in from the left */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Animation for sliding in from the right */
@keyframes slideInRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes registerSlideInRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Apply the animations to the respective divs */
.slideleft {
  animation: slideInRight 1s ease-out;
}

.slideRight {
  animation: slideInLeft 1s ease-out;
}

.registerSlideRight {
  animation: registerSlideInRight 1s ease-out;
}

.errormsg {
  color: red;
  margin: 0;
}

.loginformdiv {
  width: 350px;
}
.loginformdiv > div > div > input {
  padding: 10px !important;
}

.forminput > input {
  padding: 10px !important;
}
.contantdiv {
  background: rgba(4, 4, 4, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.contantdiv p {
  margin: 0;
  font-size: 15px;
  text-align: left;
  font-weight: 100;
}
.contantdiv {
  color: #fff !important;
  text-align: left;
}
.contantdiv h4,
.contantdiv h5,
.contantdiv h6 {
  margin: 0;
  padding: 10px 0px;
  text-align: left;
}
.headtxt {
  margin: 0;
  text-align: left;
}
.submitbtn:hover{
  background-color: #0EBD60 !important;
}