.errormsg {
  color: red;
  margin: 0;
}

.formdiv {
  width: 350px;
  margin: auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.loginformdiv > div > div > input {
  padding: 10px !important;
}

.forminput > input {
  padding: 10px !important;
}
.contantdiv {
  background: rgba(4, 4, 4, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.contantdiv p {
  margin: 0;
  font-size: 15px;
  text-align: left;
  font-weight: 100;
}
.contantdiv {
  color: #fff !important;
  text-align: left;
}
.contantdiv h4,
.contantdiv h5,
.contantdiv h6 {
  margin: 0;
  padding: 10px 0px;
  text-align: left;
}
.headtxt {
  margin: 0;
  text-align: left;
}
.submitbtn {
  background-color: #2f65b9 !important;
  color: #fff !important;
  margin: 20px 0px !important;
}
.submitbtn:hover {
  color: #fff !important;
}
.logindiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
.formtitle {
  font-size: 22px !important;
  font-weight: 500 !important;
  color: #2f65b9;
  text-align: center;
  padding-bottom: 20px;
}
.formdiv form label{
  color: rgb(92, 92, 92);
  font-weight: 500;
}