@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
}
body{
  background-color: #cad1c9 !important;
  /* background-image: url('../src/assets/Images/back3.jpg'); */
  background-size: cover;
  /* height: 100vh;
  overflow: hidden; */
}
.css-1pbp6xm {
  padding: 1rem 3% !important;
}
/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #cad1c9;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 5px;
  background: #c5c5c5;
}
