@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif !important;
}
body {
  background-color: #f3f3f3 !important;
  background-size: cover;
  /* height: 100vh;
  overflow: hidden; */
}
.css-1pbp6xm {
  padding: 1rem 3% !important;
}
::-webkit-scrollbar {
  width: 0px;
}

.MuiDataGrid-root {
  background: #fff !important;
  border-radius: 5px !important;
}

.sidebarddiv .Mui-selected {
  background-color: #2f65b9 !important;
}
.sidebarddiv > .Mui-selected > div > span {
  color: #fff !important;
  font-weight: 400;
  font-size: 16px !important;
}
.sidebarddiv > .Mui-selected > div > svg path {
  fill: #fff;
}
.slick-prev {
  left: -18px !important;
  background-color: #ff0000 !important;
}
.slick-next {
  right: -18px !important;
  background-color: #ff0000 !important;
}