@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif !important;
}
body {
  background-color: #908e8e !important;
  background-size: cover;
  /* height: 100vh;
  overflow: hidden; */
}
.css-1pbp6xm {
  padding: 1rem 3% !important;
}
::-webkit-scrollbar {
  width: 0px;
}

.MuiDataGrid-root {
	background: #fff !important;
	border-radius: 5px !important;
}

